.coverage
*.pyc
discogs_tagger_triplem_new.conf
*.iml
*.log
.idea/
.venv
build/
collectionadmin/
runner.sh
runner_test.sh
.token
conf/discogs_tagger_sjb.conf
discogstagger3.egg-info/
.venv/
cover
__pycache__
ext/mediafile