.coverage
*.pyc
discogs_tagger_triplem_new.conf
*.iml
*.log
.idea/
.venv
build/
collectionadmin/
runner.sh
runner_test.sh
.token
discogstagger3.egg-info/
.venv/
cover
__pycache__
conf/config.yaml
conf/formats.ini
